body {
  font-family: "Helvetica Neue";
  text-decoration: none;
  background-color: #f6f6f6;
}
.main_content {
  max-width: 1226px;
  margin: 0 auto;
  padding: 64px 128px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 18px;
  border-width: 2px;
  border-color: #ebebeb;
  box-sizing: border-box;
}
.row {
  display: flex;
  margin: 26px 0;
}
.column {
  display: flex;
  flex-direction: column;
}
.half {
  width: 50%;
}
.grow {
  flex-grow: 1;
}
.bootcamp_logo {
  width: 85px;
  height: 85px;
  left: calc(50% - 85px / 2 - 0.5px);
  top: 1197px;
  background: url(LOGO-10.png);
  margin-top: 67px;
  align-content: center;
  display: flex;
  margin-left: calc(50% - 85px / 2 - 0.5px);
  align-self: center;
}
.flex_container {
  margin-top: 91px;
  display: flex;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
  justify-content: center;
  margin-bottom: 42px;
}
.header_nav {
  text-decoration: none;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #232323;
}
.header_nav1 {
  margin-right: 21px;
}
.header_nav2 {
  margin-left: 21px;
}
.hint {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: #2e2e2e;
  margin-top: 8px;
}
.input {
  border: unset;
  background: #ffffff;
  border: 2px solid #8ac0e2;
  border-radius: 10px;
  padding: 9px 24px;
  height: 42px;
}
.mr-21 {
  margin-right: 21px;
}
.ml-21 {
  margin-left: 21px;
}
.back_button {
  margin-left: 19px;
  margin-top: 15px;
  width: 53px;
  height: 53px;
  left: 70px;
  top: 53px;
  border-radius: 52px;
  background: #d9d9d9;
}
.custum_select {
  height: 60px;
  background: #ebebeb;
  padding: 16px;
  border: unset;
  border-radius: 8px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.04em;
  color: #000000;
}
.position {
  background: #ebebeb;
  border-radius: 8px;
}
.submit {
  border: unset;
  padding: 18px 60px;
  height: 60px;
  background: #62a1eb;
  border-radius: 8px;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}
.label {
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-bottom: 8px;
}
.flex-end {
  justify-content: flex-end;
}
.text {
  text-decoration: none;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #232323;
  cursor: pointer;
}
.underline {
  height: 2px;
  background-color: #000000;
  margin: 16px 10% 0;
  border-radius: 1px;
}
.underline-hidden {
  background-color: transparent;
}
